kip to content
Pull requests
Issues
Marketplace
Explore
@frnorth

2,773
84,120

    40,979

github/gitignore
Code
Pull requests 78
Projects 0
Insights
gitignore/C.gitignore
@chaosdefinition chaosdefinition Update C.gitignore f76d089 on 1 Nov 2016
@rye
@dashed
@aarian93p
@Leandros
@snisarg
@dybekm
@eugpermar
@starrify
@chaosdefinition
@arsenm
53 lines (44 sloc) 430 Bytes
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
